<h3 class="section-title">Works</h3>
<dl class="project">
    {% for project in site.data.projects %}
        <dt>
          {% if project.video %}
          <iframe width="400" height="225" src="{{ project.video }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <!-- <video width="400" height="300" poster="{{ project.video_image }}" autoplay muted controls >
              <source src="{{ project.video_mp4 }}" type="video/mp4" ></source>
              <source src="{{ project.video_webm }}" type="video/webm" ></source>
              <source src="{{ project.video_ogg }}" type="video/ogg" ></source>
            </video> -->
              {% endif %}
            <img data-action="zoom" class="project-image-main" style='{{ project.image_main_style }}' src='{{ project.image_main | relative_url }}' alt="Project works by Jeongeun Lee" >

        </dt><!--
        --><dd>
            <p class="pre-desc">{{ project.period }} &nbsp;&nbsp; {{ project.type }}</p>
            <!-- <p class="type">{{ project.type }}</p> -->
            <p class="title">{{ project.title }}</p>
            <p class="overview">{{ project.overview }}
              <a class="link" href='{{ project.link}}' target="_blank">{{ project.link_name}}</a>
            </p>
            <br/>
            <p class="description">{{ project.description }}
            <img data-action="zoom" class="project-image-sketches" style='{{ project.image_sketches_style }}' src='{{ project.image_sketches | relative_url }}' alt="Emission Detector, work by Jeongeun Lee" >
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Experience</h3>
<dl class="project">
    {% for experience in site.data.experiences %}
        <dt>
          <img data-action="zoom" class="project-image-main" style='{{ experience.image_style }}' src='{{ experience.image | relative_url }}' alt="Project works by Jeongeun Lee" >

        </dt><!--
        --><dd>
            <p class="pre-desc">{{ experience.company }} </p>
            <p class="title">{{ experience.qualification }}</p>
            <p>{{ experience.description }}</p>
        </dd>
    {% endfor %}
</dl>

<!-- <h3 class="section-title">Personal Activities</h3>
<dl class="project">
    {% for activity in site.data.activities %}
        <dt>
          <img data-action="zoom" class="project-image-main" style='{{ activity.image_style }}' src='{{ activity.image | relative_url }}' alt="Project works by Jeongeun Lee" >

        </dt>
        <dd>
            <p class="pre-desc">{{ activity.period }} </p>
            <p class="title">{{ activity.title }}</p>
            <p>{{ activity.description }}</p>
        </dd>
    {% endfor %}
</dl> -->
