<h3 class="section-title">Works</h3>
<dl class="project">
    {% for project in site.data.projects %}
        <dt>
          {% if project.video %}
            <video width="400" poster="{{ project.video_image }}" autoplay="" muted="" loop="" controls preload>
              <source src="{{ project.video }}"></source>
              <source src="{{ project.video2 }}"></source>
              <source src="{{ project.video3 }}"></source>
            </video>
              {% endif %}
            <img data-action="zoom" class="project-image-main" style='{{ project.image_main_style }}' src='{{ project.image_main | relative_url }}' alt="Project works by Jeongeun Lee" >

        </dt><!--
        --><dd>
            <p class="pre-desc">{{ project.period }} &nbsp;&nbsp; {{ project.type }}</p>
            <!-- <p class="type">{{ project.type }}</p> -->
            <p class="title">{{ project.title }}</p>
            <p class="description">{{ project.description }}
              <a class="link" href='{{ project.link}}' target="_blank">{{ project.link_name}}</a>
            </p>
            <img data-action="zoom" class="project-image-sketches" style='{{ project.image_sketches_style }}' src='{{ project.image_sketches | relative_url }}' alt="Emission Detector, work by Jeongeun Lee" >
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Experience</h3>
<dl class="project">
    {% for experience in site.data.experiences %}
        <dt>
          <img data-action="zoom" class="project-image-main" style='{{ experience.image_style }}' src='{{ experience.image | relative_url }}' alt="Project works by Jeongeun Lee" >

        </dt><!--
        --><dd>
            <p class="pre-desc">{{ experience.company }} </p>
            <p class="title">{{ experience.qualification }}</p>
            <p>{{ experience.description }}</p>
        </dd>
    {% endfor %}
</dl>

<!-- <h3 class="section-title">Personal Activities</h3>
<dl class="project">
    {% for activity in site.data.activities %}
        <dt>
          <img data-action="zoom" class="project-image-main" style='{{ activity.image_style }}' src='{{ activity.image | relative_url }}' alt="Project works by Jeongeun Lee" >

        </dt>
        <dd>
            <p class="pre-desc">{{ activity.period }} </p>
            <p class="title">{{ activity.title }}</p>
            <p>{{ activity.description }}</p>
        </dd>
    {% endfor %}
</dl> -->
