// @name Header
// @description All header styles

header {
    border-bottom: 1px solid #edefee;
    padding: ($spacer * 2) 0;
    margin-bottom: ($spacer * 2);

    @media(min-width: 640px) {
        padding: ($spacer * 10) 0 ($spacer * 3);
        margin-bottom: ($spacer * 3);
    }
}

.intro {
    margin-bottom: ($spacer * 2);

    &__pre, &__post {
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    &__main {
      font-family: "Lora";
        font-size: 3.04rem;
        line-height: 1.2;
        // font-weight: bold;
        margin: 10px 0 20px;

        @media(min-width: 640px) {
            font-size: 3.8rem;
            // max-width: 60%;
        }
    }

    &__main > span::before {
        content: ' ';
        display: block;
        @media(min-width: 640px) {
          display: inherit;
        }
    }

    &__body {
      font-family: "Lora";
        font-size: 1.6rem;
        //line-height: 1.2;
        // font-weight: bold;
        //margin: 10px 0 20px;

        @media(min-width: 640px) {
            font-size: 2.0rem;
            // max-width: 60%;
        }
    }
    &__emoji {
      margin: 16px 0px 0px -7px;
      font-family: "Open Sans";
      font-size: 1.0rem;
      vertical-align: text-top;
      writing-mode: vertical-rl;
      display: inline-block;
      //transform: rotate(-90deg);
    }
}

.social {
    a {
        margin-right: $spacer;
    }
}
