// @name Header
// @description All header styles

header {
    border-bottom: 1px solid #edefee;
    padding: ($spacer * 2) 0;
    margin-bottom: ($spacer * 2);

    @media(min-width: 640px) {
        padding: ($spacer * 10) 0 ($spacer * 3);
        margin-bottom: ($spacer * 3);
    }
}

.intro {
    margin-bottom: ($spacer * 2);

    &__pre, &__post {
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    &__main {
      font-family: 'Crimson Text', sans-serif;
        //font-weight: 600;
        font-size: 3.04rem;
        line-height: 1.2;
        // font-weight: bold;
        margin: 10px 0 20px;

        @media(min-width: 640px) {
            font-size: 4.8rem;
            // max-width: 60%;
        }
    }

    &__main > span::before {
        content: ' ';
        display: block;
        @media(min-width: 640px) {
          display: inherit;
        }
    }

    &__body {
      font-family: 'Work Sans', sans-serif;
        font-size: 1.5rem;
        //line-height: 1.2;
        font-weight: 300;
        //margin: 10px 0 20px;

        @media(min-width: 640px) {
            font-size: 1.5rem;
            // max-width: 60%;
        }
    }
    &__emoji {
      margin: 0px 0px 0px -63px;
      font-family: 'Crime Text', sans-serif;
      font-size: 0.8rem;
      vertical-align: middle;
      writing-mode: vertical-rl;
      display: inline-block;
      //transform: rotate(-90deg);
    }
    &__animation {
            position: relative;
            -webkit-animation-name: jump; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
            -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
            animation-name: jump;
            animation-duration: 3s;
            animation-delay: 2s;
            animation-iteration-count: 2;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes jump {
  0%   {left:0px; top:0px;}
  50%  {left:0px; top:-50px;}
  100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes jump {
  0%   {left:0px; top:0px;}
  50%  {left:0px; top:-50px;}
  100% {left:0px; top:0px;}
}

.social {
    a {
        margin-right: $spacer;
    }
}
