// @name Resume
// @description All resume styles

dl {
    margin-bottom: $spacer;
}

dt, dd {
    display: inline-block;
    vertical-align: top;
    //margin-bottom: $spacer;
}

dd p:last-child {
  margin-bottom: 80px;
}

.project-image-main {
  width: 100%;

}

.project-detail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 50%;
}

.project-image-sketches {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 100%;
}

.project-video {
  width: 100%;
}

.project-unit {
  display: inline-block;
  width: 90%;
  height: 100%;
  margin: 0px 10px 100px 10px;
  overflow: hidden;
}

.project-unit div {
  height: 310.75px;
  overflow: hidden;
  margin-bottom: 30px;
}


.project-unit:hover .title {
  color: rgba(0, 169, 100, 1);
  //color: rgba(10, 121, 91, 1);
}

.project-unit:hover img {
  transform: scale(1.1);
  transition: all .25s ease;
  overflow: hidden;
}


@media(min-width: 640px) {
    dt, dd {
        //margin-bottom: 100px;
    }

    .project {
        dt{
            width: 55%;
            padding-right: ($spacer * 2);
        }
        dd {
          width: 44%;
        }
    }

    .project-unit {
      display: inline-block;
      width: 45%;
      height: 500px;
      margin: 0px 10px 100px 10px;
      overflow: hidden;
    }

    .project-unit div {
      height: 276.75px;
      overflow: hidden;
      margin-bottom: 30px;
    }

    .project-image-main {
      width: 100%;
      //margin-bottom: 30px;
    }

    .project-detail {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      width: 50%;
    }

    .project-image-sketches {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
      width: 100%;
    }

    .project-video {
      width: 400px;
      height: 240px;
    }

}

.title {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}

a {
    color: black;
    background: rgba(245, 215, 110, .5);
    transition: all linear .2s;

    &:hover {
        background: rgba(245, 215, 110, 1);
        text-decoration: none;
    }
}

.pre-desc {
  font-weight: 300;
  //font-size: 0.8rem;
  color: rgba(167, 167, 167, 1);
  margin-bottom: 20px;
}

.overview {
  color: rgba(105, 105, 105, 1);
  font-weight: 200;
  font-size: 1.0rem;
}

.description {
  color: rgba(82, 82, 82, 1);
  //font-family: sans-serif;
  font-size: 0.9rem;
}

.link {
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 198, 0, .6);
  text-decoration: none;

  &:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(255, 198, 0, 1);
    //text-decoration: underline;
    //text-decoration-color: rgba(245, 215, 110, 1);
}
    // color: black!important;
    // background: rgba(245, 215, 110, .5);
    // transition: all linear .2s;
    //
    // &:hover {
    //     background: rgba(245, 215, 110, 1);
    //     text-decoration: none;
    // }
}


.project-unit a {
  color: inherit;
  text-decoration: none;
  background: transparent;
}

// .project-unit:hover img {
//   -webkit-animation: imgmove 1s 1; /* Chrome, Safari, Opera */
//   animation: imgmove 1s 1;
// }
//
// /* Chrome, Safari, Opera */
// @-webkit-keyframes imgmove {
//   50% {margin-top: -10px;}
// }
//
// /* Standard syntax */
// @keyframes imgmove {
//   50% {margin-top: -10px;}
// }

//
// a:link {
//   text-decoration: none;
// }
//
// a:visited {
//   text-decoration: none;
// }
//
// a:hover {
//   text-decoration: underline;
// }
//
// a:active {
//   text-decoration: underline;
// }
