// @name Typography
// @description All typography settings and styles

@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Playfair+Display:400,700,900);

@import url(https://fonts.googleapis.com/css?Open+Sans&display=swap:400,700|Playfair+Display:400,700,900);

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700&display=swap');

// Our variables
$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size:   16px;

body {
    font-family: $base-font-family, serif;
    font-size: $base-font-size;
    line-height: 1.4;
}
